@media screen and (max-width: 500px) {
  /* html {
    font-size: calc(1vw / 5);
  } */
  header {
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    padding: 50rem 0;
    gap: 80rem;
  }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90rem;
  }
  header nav {
    gap: 90rem;
    font-weight: 500;
    padding: 0 0 20rem 90rem;
    overflow-x: scroll;
  }
  header nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .headerButtons {
    display: none;
  }
  section {
    &.normal,
    .swiper {
      height: 80vh;
    }
  }
  #theme_4 section.normal,
  #theme_4 video {
    height: 100%;
  }
  #theme_4 #task {
    padding: 80rem 0;
  }
  .logo {
    font-weight: 600;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  .normal video {
    width: auto;
  }
  .normal:has(video) {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .logosHseSber {
    width: 28%;
  }
  .blur .logosHseSber {
    padding-top: 350rem;
  }
  section.blur {
    background-image: url('../images/mobile-grads.svg');
  }
  h1 {
    flex-direction: column;
    font-size: 350rem;
    padding-top: 400rem;
  }
  h2 {
    font-size: 200rem;
    padding: 800rem 0 600rem;
  }
  #theme_4 h1 {
    flex-direction: column;
    font-size: 200rem;
    padding-top: 400rem;
  }
  #theme_4 h2 {
    font-size: 150rem;
    padding: 400rem 0 95rem;
  }
  #theme_4 .lid {
    max-width: 90%;
    font-size: 84rem;
  }
  h3 {
    font-size: 200rem;
    font-weight: 500;
  }
  #head img {
    padding: 390rem 0;
  }
  #events,
  #program {
    height: fit-content;
    padding-bottom: 800rem;
  }
  #events .cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 500rem;
  }
  #events .card {
    width: 95%;
    gap: 20px;
  }
  #promt #events .cards {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200rem 50rem;
  }
  #promt #events .card {
    width: 30%;
    gap: 20px;
  }
  #promt #events .coding .card {
    width: 45%;
  }
  .card img {
    border-radius: 50px;
  }
  .card .greyButton,
  #cover .info {
    padding: 26px 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    color: white;
    font-size: 140rem;
    line-height: 1.5;
  }
  #cover .info {
    width: fit-content;
  }
  #cover h2 {
    padding: 1000rem 0 310rem;
  }
  .programItem {
    flex-direction: column;
  }
  .programItems {
    width: 96%;
    gap: 280rem;
    padding-top: 800rem;
  }
  .programItem h2,
  .programItem p {
    width: 100%;
  }
  .programItem p {
    font-size: 90rem;
    line-height: 1.1;
  }
  #program .info,
  #questions {
    width: 100%;
    height: 500rem;
    border-radius: 100px;
    font-size: 138rem;
    margin-top: 100rem;
  }
  #questions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600rem;
    width: 96%;
  }
  .juriWrapper {
    width: 96%;
    margin: 100rem auto;
    gap: 200rem 0;
  }
  .juri {
    width: 48.5%;
    gap: 140rem;
  }
  .juri img {
    border-radius: 50px;
  }
  p,
  label,
  a {
    line-height: 1.3;
    font-size: 110rem;

    &.textButton {
      font-size: 75rem;
      line-height: 1.3;
    }
    &.blackButton {
      font-size: 80rem;
      padding: 25rem 120rem;
      border-radius: 50px;
    }
  }
  .swiper-slide {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .swiper img {
    width: auto;
  }
  .faq__wrap {
    width: 96%;
  }

  #promt .blur h3 {
    font-size: 120rem;
  }
  .faq__item-question-plus {
    width: 120rem;
    height: 120rem;
  }
  .faq__item.opened .faq__item-question-plus {
    background-image: url('../images/minus.svg');
  }
  .faq__item-question-plus {
    background-image: url('../images/plus.svg');
  }
  footer {
    padding: 800rem 0 100rem;
  }
  footer a,
  footer p {
    font-size: 90rem;
  }
  footer span {
    flex-direction: column;
  }
}
