html {
  font-size: calc(1vw / 19.2);
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: white;
  color: black;
}
img {
  display: block;
  width: 100%;
}
h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-size: 120rem;
}
h2 {
  font-weight: 500;
  font-size: 60rem;
  line-height: 130%;
  margin: 0rem auto;
  padding: 100rem 0;
  text-align: center;
}
h3 {
  font-size: 40rem;
  font-weight: 500;
  line-height: 134%;
}
p,
label,
a {
  font-weight: 500;
  line-height: 40rem;
  font-size: 28rem;

  &.textButton {
    font-size: 20rem;
    text-decoration: none;
    color: inherit;
    text-transform: lowercase;
    line-height: 26rem;
  }
  &.blackButton {
    display: block;
    padding: 4rem 16rem;
    background-color: black;
    border-radius: 40rem;
    color: white;
    font-size: 20rem;
    text-decoration: none;
  }
  &.greyButton {
    display: block;
    padding: 26rem 40rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100rem;
    color: black;
    font-size: 30rem;
    transition: all ease 0.8s;
    width: fit-content;
    text-decoration: none;
  }
  &.lid {
    font-weight: 500;
    color: #adadad;
    max-width: 58%;
  }
}
.lid.big {
  font-size: 84rem;
  line-height: 112%;
}
.lid.medium {
  font-size: 76rem;
  line-height: 112%;
  max-width: 86%;
}
.lid.small {
  font-size: 62rem;
  line-height: 130%;
}
.lid.control1 {
  max-width: 64%;
}
.lid.control2 {
  max-width: 50%;
  font-size: 52rem;
}
.lid.control3 {
  max-width: 50%;
  font-size: 39rem;
}
.task p,
.comment {
  line-height: 130%;
  text-align: center;
  font-size: 30rem;
  max-width: 100%;
  font-weight: 500;
  color: #adadad;
  padding: 10rem 0;
}
span.blackLid {
  color: #000;
}
#questions {
  color: white;
  width: fit-content;
  margin: 200rem auto;
  padding: 14rem 26rem;
}
header .greyButton:hover,
#events .greyButton:hover,
#events .card:hover .greyButton {
  background-color: black;
  color: white;
}
header {
  width: 100%;
  height: 80rem;
  padding: 16rem 30rem;
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
  gap: 35rem;
  font-weight: 400;
}
section {
  &.normal {
    min-height: 1080rem;
  }
  &.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &.blur {
    background-image: url('../images/2.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  &.grey {
    background-color: #f5f5f5;
  }
}
#promt .blur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100rem;
}
#promt .blur > * {
  padding: 0;
}
.logo {
  color: inherit;
  text-decoration: none;
}
.normal video {
  width: 100%;
  height: 100%;
}
video {
  pointer-events: none;
}
video::-webkit-media-controls {
  display: none;
}
.logosHseSber {
  width: 200rem;
  margin: 0 auto;
}
#head img {
  padding: 95rem 0 390rem;
}
#head img.theme {
  padding: 95rem 0;
}
#events .cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#events .coding {
  justify-content: center;
  gap: 20rem;
}
#events .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70rem;
  text-decoration: none;
}
#promt #events .card {
  width: 19%;
  gap: 60rem;
  transition: transform 0.8s ease;
}
#promt #events .card {
  gap: 60rem;
}
#promt #events .card:hover {
  transform: translateY(-2vw);
}
.card img {
  width: 100%;
  border-radius: 40rem;
}
#cover h2 {
  padding: 440rem 0 300rem;
}
#cover img {
  margin: 10rem 0;
}

#program {
  display: flex;
  justify-content: center;
  align-items: center;
}
.programItems {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 68rem;
}
.programItem {
  display: flex;
  align-items: center;
}
#program .info,
#cover .info {
  width: 367rem;
  height: 95rem;
  border-radius: 100rem;
  font-size: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.programItem h2 {
  padding: 6rem 0;
  width: 530rem;
  text-align: left;
}
.programItem p {
  width: 570rem;
}
.juriWrapper {
  width: 80%;
  margin: 100rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80rem 0;
}
.juri {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 35rem;
}
.juri img {
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.05);
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper img {
  width: 100%;
}
.swiper-navigation-icon path,
.swiper-navigation-icon {
  fill: white !important;
}
.openButton,
.closeButton {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-left: auto;
}
.faq__wrap a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
div.faq__item {
  margin-bottom: 0;
  padding-bottom: 20rem;
  font-size: 1.6rem;
  border-top: 2rem solid #d8d8d8;
  cursor: pointer;
}
.faq__item-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0rem;
  padding-top: 20rem;
  cursor: pointer;
}
.faq__item.opened .faq__item-question-plus {
  background-image: url(https://design.hse.ru/assets/new_hope_images/minus-e07d2c19aa56144b4840d2cacc8dc4725315b87a10c631737b6f57a67f48a6b1.svg);
  background-size: cover;
}
.faq__item-question-plus {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  min-width: 30rem;
  background-image: url(https://design.hse.ru/assets/new_hope_images/plus-37c0a54e1b12c95fd2407a7d64a6c814ed2240b63e511d279cff3c6c8308f21e.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.faq__item-answer {
  line-height: 1.5;
  padding-top: 40rem;
  display: none;
}
.faq__wrap {
  margin: 100rem auto;
  width: 900rem;
  display: flex;
  flex-direction: column;
  gap: 35rem;
  padding: 39rem;
}
footer a,
footer p {
  text-decoration: none;
  font-size: 16.3rem;
  color: black;
  text-align: center;
}
footer > * {
  margin: 0 auto;
}
footer {
  padding: 20rem;
  width: 100%;
}
footer span {
  display: flex;
  justify-content: center;
  gap: 20rem;
}
.hidden,
.mobile {
  display: none !important;
}
#lidText {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  justify-content: center;
  align-items: center;
}
#imgGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem 0.5%;
}
#imgGrid img {
  width: 33%;
}
#task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80rem;
}
.tasks {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.center {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.task {
  width: 32%;
}
.task.big {
  width: 58%;
}
.task.big img {
  border-radius: 60rem;
}
.margin {
  margin: 180rem 0;
}
.tasks.last .task:nth-of-type(1),
.tasks.last .task:nth-of-type(2) {
  width: 35%;
}
.tasks.last .task:nth-of-type(3) {
  width: 22%;
}
.lector video::-webkit-media-controls {
  opacity: 1;
  display: block;
}
